body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1 {
    margin: 2em;
  }
  
  .contact input, .contact textarea {
   width: 35%;
   resize: none;
   margin: 5px;
   border-radius: 4px;
   border: none;
   padding: 3px;
  }
  
  .contact button {
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 17em;
    margin-top: 2em;
  }
  
  .imgOfMe {
    border-radius: 3%;
    border: 1.5px solid #282c34;
    margin: 2em;
  }
  
  .m-3 {
    color: #282C34;
  }
  
  .m-3 :hover{
    color: #b51d69;
  }
  
  .titleheader {
    padding-top: 1em;
  }
  
  .resume {
    color: #052f54ce;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: #b51d69;
  }